:root {
  --boral-green: #00a94f;
  --boral-green-20: #cceedc;
  --boral-green-40: #99ddb9;
  --boral-green-60: #66cb95;
  --boral-green-80: #33ba72;
  --boral-lime: #a6ce3a;
  --boral-lime-20: #edf5d8;
  --boral-lime-40: #dbebb0;
  --boral-lime-60: #cae289;
  --boral-lime-80: #b8d861;
  --boral-yellow: #ffde00;
  --boral-yellow-20: #fff8cc;
  --boral-yellow-40: #fff299;
  --boral-yellow-60: #ffeb66;
  --boral-yellow-80: #ffe533;
  --boral-charcoal: #5a666f;
  --boral-grey: #e2e6e8;
}
