{% set classes = [
  'boral-button',
  variant ? 'button--' ~ variant : 'button',
  style ?? 'button--' ~ style
] %}
{% set attributes = attributes.addClass(classes) %}
{% set attributes = attributes.setAttribute('href', link) %}

{# {% import '@boral/macros/icon.html.twig' as icon %}
{% set display_icon = selectedIcon ? icon.svg({icon: paragraph._heading_icon.value|raw, title: "Accordion icon", desc: "An icon descriptive of the accordions contents"}) : null %} #}


<a {{attributes}} type="button">
  {{ text }}
  {# {{ icon }} #}
</a>
