{% set classes = [
  'boral-button',
] %}

{% set button_attributes = create_attribute() %}

{% set custom_attributes = {
  'data-variant': variant,
  'data-size': size,
  'data-icon-position': icon_position,
  'data-icon': icon ? true : false,
} %}
 
{% for key, value in custom_attributes %}
  {% do button_attributes.setAttribute(key, value) %}
{% endfor %}

{% set button_attributes = button_attributes.addClass(classes) %}

<a {{button_attributes}} type="button">
  {{ text }}
  {% if icon  %}
    {% include 'boral:icon' with {
      source: 'material',
      name: icon,
    } %}
  {% endif %}
  
</a>
