@property --gradient-stop-pos-1 {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0%;
}
@property --gradient-stop-pos-2 {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 100%;
}
@property --gradient-stop-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
@property --gradient-stop-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
@property --button-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #000;
}
.boral-button {
  --button-color: var(--boral-navy);
  --button-background: transparent;
  --button-inline-padding: 0rem;
  --button-block-padding: 0rem;
  --border-radius: 0.25rem;
  --button-gap: 0.875rem;
  --button-text-weight: 400;

  --gradient-stop-1: var(--boral-green);
  --gradient-stop-2: var(--boral-green);
  --gradient-stop-pos-1: 0%;
  --gradient-stop-pos-2: 100%;
  --background-gradient: linear-gradient(90deg, var(--gradient-stop-1) var(--gradient-stop-pos-1), var(--gradient-stop-2) var(--gradient-stop-pos-2));

  display: inline-flex;
  align-items: center;
  padding-block: var(--button-block-padding);
  padding-inline: var(--button-inline-padding);
  border-radius: var(--border-radius);
  background: var(--button-background);
  cursor: pointer;
  color: var(--button-color);
  gap: var(--button-gap);
  font-weight: var(--button-text-weight);
}
.boral-button[data-size="small"]:not([data-variant="text"]) {
      --button-block-padding: 0.75rem;
      --button-inline-padding: 1.5rem;
    }
.boral-button[data-size="large"]:not([data-variant="text"]) {
      --button-inline-padding: 1.875rem;
      --button-block-padding: 1.125rem;
    }
.boral-button[data-variant="primary"] {
    --button-color: var(--boral-navy);
    --button-text-weight: 600;
    --button-background: var(--background-gradient);
    --gradient-stop-pos-2: 53.5%;
    transition:
      --gradient-stop-1 300ms cubic-bezier(0.19, 1, 0.22, 1),
      --gradient-stop-pos-1 300ms cubic-bezier(0.19, 1, 0.22, 1),
      --gradient-stop-pos-2 300ms cubic-bezier(0.19, 1, 0.22, 1);
  }
.boral-button[data-variant="primary"]:hover {
      --gradient-stop-1: var(--boral-lime-80);
      --gradient-stop-pos-1: 11.5%;
    }
.boral-button[data-variant="primary"]:active {
      --gradient-stop-pos-1: 33%;
      --gradient-stop-pos-2: 100%;
    }
.boral-button[data-variant="secondary"] {
    --button-color: var(--boral-navy);
    --button-background: var(--boral-lime-80);
  }
.boral-button[data-variant="text"] {
    transition: --button-color 300ms cubic-bezier(0.19, 1, 0.22, 1);
  }
.boral-button[data-variant="text"]:hover {
      --button-color: var(--boral-green);
    }
.boral-button[data-icon-position="left"] {
    flex-direction: row-reverse;
  }
.boral-button[data-icon="true"] .icon {
      transition: translate 300ms cubic-bezier(0.19, 1, 0.22, 1);
      font-size: 1.25em;
      font-variation-settings: "wght" 400;
      will-change: translate;
    }
.boral-button[data-icon="true"]:hover .icon {
        translate: 0.25rem;
      }
