{% set classes = [
  'boral-button',
] %}

{% set custom_attributes = {
  'data-variant': variant,
  'data-size': size,
  'data-icon-position': icon_position,
} %}
 
{% for key, value in custom_attributes %}
  {% do attributes.setAttribute(key, value) %}
{% endfor %}

{% set attributes = attributes.addClass(classes) %}

{# {% import '@boral/macros/icon.html.twig' as icon %}
{% set display_icon = selectedIcon ? icon.svg({icon: paragraph._heading_icon.value|raw, title: "Accordion icon", desc: "An icon descriptive of the accordions contents"}) : null %} #}

<a {{attributes}} type="button">
  {{ text }}
  {# {{ icon }} #}
</a>
