:root {
  --boral-button-radius: var(--radius-2);
  --boral-button-border-width: 2px;
  --boral-button-border-color: var(--blue-600);
  --boral-button-padding-block: var(--size-4);
  --boral-button-padding-block-small: var(--size-3);
  --boral-button-padding-inline: var(--size-5);
  --boral-button-padding-inline-small: var(--size-3-5);
  --boral-button-background: var(--blue-600);
  --boral-button-alt-background: var(--white);
  --boral-button-color: var(--white);
  --boral-button-alt-color: var(--blue-700);
  --boral-button-font-size: 18px;
  --boral-button-line-height: 28px;
  --boral-button-border: 2px solid var(--blue-600);
  --boral-button-alt-border: var(--size-px) solid var(--white);
}
.boral-button {
  display: flex;
  flex-direction: row;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: var(--boral-button-border);
  width: -moz-fit-content;
  width: fit-content;
  padding-block: var(--boral-button-padding-block, 0px);
  padding-inline: var(--boral-button-padding-inline, 0px);
  background-color: green;
  cursor: pointer;
  font-size: var(--boral-button-font-size);
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: var(--boral-button-line-height);
  color: red;
  margin-block: var(--size-6);
}
.boral-button svg {
  width: var(--size-6);
  min-width: var(--size-6);
}
.boral-button:hover {
  --boral-button-background: var(--blue-700);
  --boral-button-color: var(--white);
  --link-hover-color: red;
  color: var(--link-hover-color);
}
.boral-button:visited {
  color: red;
}
.boral-button:disabled,
.boral-button.disabled {
  --boral-button-background: var(--grey-300);
  --boral-button-alt-background: var(--white);
  --boral-button-alt-color: var(--grey-400);
  --boral-button-alt-border: var(--size-px) solid var(--grey-400);
  cursor: not-allowed;
}
.boral-button.button--secondary {
  --boral-button-background: var(--white);
  --boral-button-color: var(--blue-700);
  --boral-button-border: 2px solid var(--blue-600);
  --boral-button-alt-background: var(--blue-800);
  --boral-button-alt-color: var(--white);
  --boral-button-alt-border: 2px solid var(--white);
}
.boral-button.button--secondary:hover {
  --boral-button-background: var(--grey-100);
  --boral-button-alt-background: #4d6a73;
}
.boral-button.button--secondary:disabled,
.boral-button.button--secondary.disabled {
  --boral-button-border: 2px solid var(--grey-400);
  --boral-button-alt-color: var(--grey-400);
  --boral-button-alt-border: 2px solid var(--grey-400);
}
.boral-button.button--tertiary {
  --boral-button-background: var(--grey-100);
  --boral-button-color: var(--blue-700);
  --boral-button-alt-background: #264955;
  --boral-button-alt-color: var(--white);
}
.boral-button.button--tertiary:hover {
  --boral-button-background: var(--grey-200);
  --boral-button-alt-background: #4d6a73;
}
.boral-button.button--tertiary:disabled,
.boral-button.button--tertiary.disabled {
  --boral-button-color: var(--grey-400);
  --boral-button-alt-background: #264955;
}
.boral-button.button--alt {
  border: var(--boral-button-alt-border);
  background-color: var(--boral-button-alt-background);
  color: var(--boral-button-alt-color);
}
.boral-button.button--small {
  padding-block: var(--boral-button-padding-block-small);
  padding-inline: var(--boral-button-padding-inline-small);
  font-size: var(--size-4);
  line-height: var(--size-6);
}
